# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Variables de entorno / secretos
.env
.env.*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log